<div *ngIf="!firstName; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <div class="form-container">
        <div class="row columns">
  
          <h1>My Reactive Form</h1>
  
          <label>First Name
            <input type="text" formControlName="firstName">
          </label>

          <label>Last Name
            <input type="text" formControlName="lastName">
          </label>

          <label>Email
              <input type="text" formControlName="email">
            </label>
  
          <input type="submit" class="button expanded" value="Submit Form">
        </div>
      </div>
    </form>
  </div>

  <input type="button" (click)="showData()" class="button expanded" value="getData">
  
  <ng-template #forminfo>
    <div class="form-container">
      <div class="row columns">
          <h1>Full Name: {{ firstName }} {{lastName}}</h1>
          <p>Email: {{ email }}</p>
      </div>
    </div>
  </ng-template>